.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2c3e50; /* Brand dark blue (same as header) */
  color: white;
  text-align: center;
  padding: 5px 0;
  height: 50px; /* Define a fixed height */
  z-index: 10;
  display: flex; /* Use flex to center */
  align-items: center;
  justify-content: center;
}