.header {
  overflow: hidden;
  background-color: #2c3e50; /* Color :DarkBlue. */
  padding: 0 20px;
  position: fixed; /* fixed on top */
  top: 0;
  width: 100%;
  height: 65px; /* fixed height */
  line-height: 65px; /* Center vertically */
  z-index: 10;
}

.header a {
  float: left;
  color: #ecf0f1; /* Grey */
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.header a:hover {
  background-color: #34495e; /* Daker when pointer hover. */
  color: white;
}

.header a.active {
  background-color: #3498db; /*  */
  color: white;
}

.headerRight {
  float: right;
}

/* fixed to mobile screen */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
    line-height: 1.5;
    padding: 10px;
  }
  .headerRight {
    float: none;
  }
  .header {
    height: auto;
    position: relative;  
  }
}