.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 220px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 65px; /* ADJUSTED! Position below the header. Adjust this value! */
  left: 0;
  background-color: #34495e; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 10px 15px 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #ecf0f1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
  background-color: #3498db;
}

/* Responsive styles from W3Schools (optional) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}